.Cage {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    display: inline-block;
    background: #141828;
    margin-bottom: 1px;
    margin-right: 1px;
    cursor: pointer;
    font-weight: 700;
}
.Cage:hover {
    background: #384475;
}
.CageWhite {
    background: #fff;
}
.CageWhite:hover {
    background: #eff2ff;
}
