.AlertContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}
.Alert {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.75);
    justify-content: center;
    overflow: hidden;
    width: 450px;
    background: #ffffff;
}
.Alert h2 {
    width: 100%;
    background: #3f87fc;
    color: #ffffff;
    font-weight: 700;
    font-size: 24px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    margin: 0;
}
.Alert p {
    text-align: center;
    font-weight: 500;
}
.Alert button {
    width: 50%;
    margin: 0 25%;
    margin-bottom: 25px;
    height: 30px;
    line-height: 30px;
    background: transparent;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
    border-radius: 4px;
    border: none;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
}
.Alert button:hover {
    background: #3f87fc;
    color: #ffffff;
}
