.Reset {
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    background: #3f87fc;
    border-radius: 5px;
    border: none;
    width: 150px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
}
.Reset:hover {
    opacity: 0.75;
}
