.Task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    outline: none;
    padding: 20px 30px;
    margin: 10px 20px;
    position: relative;
    color: white;
    border: 1px solid rgba(255,255,255,0.4);
    background: none;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}
.Task:before,
.Task:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    box-sizing: border-box;
}
.Task:before {
    bottom: 0;
    left: 0;
    border-left: 1px solid white;
    border-top: 1px solid white;
    transition: 0s ease opacity .8s, .2s ease width .4s, .2s ease height .6s;
}
.Task:after {
    top: 0;
    right: 0;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    transition: 0s ease opacity .4s, .2s ease width , .2s ease height .2s;
}
.Task:hover:before,
.Task:hover:after{
    height: 100%;
    width: 100%;
    opacity: 1;
}
.Task:hover:before {transition: 0s ease opacity 0s, .2s ease height, .2s ease width .2s;}
.Task:hover:after {transition: 0s ease opacity .4s, .2s ease height .4s , .2s ease width .6s;}
.Task:hover {background: rgba(255,255,255,.2);}

.Task button {
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #ffffff;
    outline: none;
    border: none;
    position: relative;
    z-index: 200;
}
.Task button:hover {
    opacity: 0.75;
    background: #9EEFE1;
}
.Task button img {
    width: 100%;
    height: 100%;
}
.Task h2 {
    margin: 0;
}
