.Cost {
    width: 75%;
    height: 40px;
    line-height: 40px;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.25);
    border: none;
    border-radius: 5px;
    padding: 0 20px;
    font-size: 18px;
    font-weight: 600;
    outline: none;
    margin-right: 10px;
}
.CostKGS {
    font-weight: 700;
    text-decoration: underline;
}
