.AddButton {
    text-decoration: none;
    outline: none;
    display: inline-block;
    color: white;
    height: 40px;
    line-height: 40px;
    padding: 0 30px;
    font-weight: 600;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0,0,0,.1);
    transition: .5s;
    border: none;
}
.AddButton:hover {background-position: right center;}
