.TaskBlock {
    width: 50%;
    margin: 0 auto;
    border-radius: 5px;
    height: 100%;
    min-height: 600px;
    position: relative;
    padding: 30px 30px 100px;
    background: linear-gradient(to bottom, #4830F0 0%, #9EEFE1 100%);
}
