.TotalSpent {
    width: 50%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 20px;
}
.TotalSpent h1 {
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    text-decoration: underline;
}
.TotalSpent p {
    text-align: center;
    background: #ffffff;
    width: 50%;
    margin: 0 auto;
    padding: 5px;
    font-weight: 700;
}
